@import '../../styles/color';
.header {
  position: fixed;
  width: 100%;
  max-height: 60px;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 20px;
  flex-wrap: wrap;
  z-index: 90;
  box-shadow: 1px 1px 10px 1px lightgrey;
  a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px;
    &.active {
      border-bottom: 2px solid $extra2;
    }
  }
}